apiVersion: 1
providers:
  - name: home-arpa-dashboards
    orgId: 1
    folder: Home.ARPA
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards
